<div class="jumbotron">
	<div class="container">
		<p><mark>Shopalite is your exclusive pass and all access guide to luxury shopping.</mark></p>
		<%= link_to "Join now!", signup_path, class: "btn btn-lg btn-danger" %>
		
	</div>
</div>

<div class ="row">
	<div class="col-sm-6 col-md-4">
		<h2>SEARCH</h2>
		<p>Whether searching for a specific little black dress for HER or the perfect blazer for HIM, our search feature allows you to find just what you need.</p>
	</div>

	<div class="col-sm-6 col-md-4">
		<h2>DISCOVER</h2>
		<p>Not exactly what you're looking for? Find inspiration, see what's trending, and discover new products from your favorite retailers and brands.
	</div>

	<div class="col-sm-6 col-md-4">
		<h2>SHOP</h2>
		<p>Browse and shop thousands of products all in one place. Our LOCAL feature even allows you to see whether a product is in stock nearby for immediate pickup.  
	</div>
</div>

