
<div class="jumbotron">
	<div class="container">
		<div class="homebox">
			<h1>The Online Destination for Sophisticated Shoppers</h1>
			<p>Shopalite is your insider's pass and all access guide to contemporary & luxury shopping.</p>
			<%= link_to "Sign up", signup_path, class: "btn btn-md btn-danger" %>
			<%= link_to "Sign in", signin_path, class: "btn btn-md btn-danger" %>
		</div>
	</div>
</div>

<div class ="row">
	<div class="col-sm-6 col-md-4">
		<h2>SEARCH</h2>
		<p>Whether searching for a specific little black dress for HER or the perfect blazer for HIM, our search feature allows you to find just what you need.</p>
	</div>

	<div class="col-sm-6 col-md-4">
		<h2>DISCOVER</h2>
		<p>Not exactly sure what you're looking for? Find inspiration, see what's trending, and discover new products from your favorite retailers and brands.
	</div>

	<div class="col-sm-6 col-md-4">
		<h2>SHOP</h2>
		<p>Browse and shop thousands of products all in one place. Our LOCAL feature even allows you to see whether a product is in stock nearby for immediate pickup.  
	</div>
</div>

