<div class="jumbotron">
	<div class="container">
		<p>
			Your exclusive pass to all access shopping...
		</p>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>
</div>

<div class ="row">
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= link_to image_tag("300x200.svg", alt: "..."), '#' %>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= link_to image_tag("300x200.svg", alt: "..."), '#' %>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<%= link_to image_tag("300x200.svg", alt: "..."), '#' %>
		</div>
	</div>
</div>

