@import url(//fonts.googleapis.com/css?family=Josefin+Sans);
@import url(//fonts.googleapis.com/css?family=Dosis);
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center{
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding-left: 20px;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: lowercase;
	letter-spacing: 1px;
	padding-top: 15px;
	line-height: 1;
	font-family: 'Josefin Sans', sans-serif;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

#homeh1 {
	text-align: center;
	font-size: 4.5em;
	padding-top: 30px;
	color: black;
}


/* jumbotron */

.jumbotron {
	background-image: url('SF_Background.jpg');
	background-image-width: 100%;
	text-align: center;
	padding-bottom: 325px;
	background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron p {
	padding-top: 100px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	text-align: center;
}

footer ul li {
	text-align: center;
	display: inline;
	margin-right: 10px;
}

/* sign in */

.sign-in {
	text-align: center;
	padding-top: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid;
    &:last-child {
      border-bottom: 1px solid;
    }
  }
}

.pagination ul li {
	text-align: center;
	display: inline;
}


