<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li>
      <li><%= link_to "Privacy Policy", '#' %></li>
    </ul>
  </nav>

  <small>
    <p>&copy 2014 Shopalite<p>
  </small>

</footer>