<footer class="footer">
  <nav class="navbar">
    <ul>
      <small>
        <li>&copy 2014 Shopalite</li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li><%= link_to "Terms", '#' %></li>
        <li><%= link_to "Privacy", '#' %></li>
      </small>
    </ul>
  </nav>
</footer>