<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="container">
      <%= link_to "Shopalite", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
         <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>


